.chefs {
    padding-bottom: 96px;

    &__title {
        text-align: center;
        font-size: 64px;
        font-weight: 900;
        line-height: 84px;
        margin-top: 0;
        margin-bottom: 80px;

        &-color {
            color: $second-accent-color;
        }

        ::before {
            content:"";
            display: inline-block;
            width: 352px;
            height: 2px;
            background-color: $second-light-color;
            margin-right: 35px;
        }

        ::after {
            content: "";
            display: inline-block;
            width: 352px;
            height: 2px;
            background-color: $second-light-color;
            margin-left: 35px;
        }
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;

        &-content {
            display: flex;
        }

        &-img {
            margin-right: 30px;
        }
    }

    &__img {
        border-radius: 2% 2% 2% 80%;
        box-shadow: -16px 16px 0 -1px $main-bg-color, -16px 16px 0 0 $second-brown-color;
    }

    &__names {
        margin-top: 0;
        margin-bottom: 16px;
        font-size: 40px;
        font-weight: 600;
        line-height: normal;

        &-text {
            font-size: 18px;
            font-weight: 400;
            line-height: normal;
        }
    }
}

@media screen and (max-width: 425px) {
    .chefs {
        padding-bottom: 0;

        &__title {
            font-size: 32px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
            margin-bottom: 24px;

            ::before {
                content: "";
                display: none;
            }

            ::after {
                content: "";
                display: none;
            }
        }

        &__wrapper {
            flex-direction: column;
            align-items: center;

            &-content {
                margin-bottom: 35px;
            }

            &-img {
                margin-right: 16px;
            }

            &-text {
                width: 162px;
            }
        }

        &__img {
            width: 140px;
            height: 225px;
        }

        &__names {
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            margin-bottom: 8px;

            &-text {
                font-size: 14px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
            }
        }
    }
}